<!DOCTYPE html data-theme="dark">
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta property="og:title" content="Personal Portfolio" />
	<meta property="og:description" content="My Personal Portfolio" />
	<meta property="og:url" content="{{ url }}" />

	<link rel="preconnect" href="https://fonts.gstatic.com" />
	<link
		href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Inter:wght@300;400;500;600;700&family=Over+the+Rainbow&display=swap"
		rel="stylesheet" />

	<link lang="sass" rel="stylesheet" href="./static/styles/main.css" />
	<link rel="stylesheet" href="./static/styles/navbar.css">
	<link lang="sass" rel="stylesheet" href="./static/styles/experiences.css" />
	<link rel="stylesheet" href="./static/styles/about.css" />
	<link rel="icon" href="./static/img/favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" href="./static/styles/hobbies.css" />
	<link rel="stylesheet" href="./static/styles/hero.css" />
	<link rel="stylesheet" href="./static/styles/projects.css" />
	<link rel="stylesheet" href="./static/styles/location.css" />
	<link rel="stylesheet" href="./static/styles/footer.css" />
	<title>{{ title }}</title>
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=light_mode,moon_stars" />
	<link href="https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.css" rel="stylesheet" />
	<script src="https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
</head>

<body>
	{% include 'navbar.html' %}
	{% include 'hero.html' %}
	{% include 'about.html' %}
	{% include 'projects.html' %}
	{% include 'experiences.html' %}
	{% include 'visited.html' %}
	{% include 'location.html' %}
	{% include 'footer.html' %}
</body>
<script src="/static/js/theme-toggle.js"></script>
<script>
	window.mapboxToken = "{{ mapbox_token }}";
	window.mapLocations = {{ locations | tojson }};
</script>
<script src="{{ url_for('static', filename='js/map_script.js') }}"></script>

</html>