<section class="section-map">
    <h2 class="section-title">Locations</h2>
    <div class="map-wrapper">
        <div id="map"></div>
        <div class="map-label">
            <p class="text-sm font-medium">The places I have visited</p>
        </div>
    </div>
    <div class="map-attribution">
        <p>
            Map data © <a href="https://www.openstreetmap.org/" target="_blank">OpenStreetMap</a>,
            imagery © <a href="https://www.mapbox.com/" target="_blank">Mapbox</a>
        </p>
    </div>
</section>